extends layout

block content
	h1= title
	// title Welcome to #{title}
	.container
		.row
			.col-xs-12.col-lg-8.col-lg-offset-2
				.dashed-box-outer
					.dashed-box-inner

						.forecast-wrapper
							#recommendation
								.dryer
								p
									| How should you wear your hair?
								.cloudcat
							.forecast
								p
									| Enter your city to get your weather forecast!
								form(action="/", method="POST")
									.form-group
										.input-group
											input.form-control(type="text" id="txtCity" name="txtCity" placeholder="Brooklyn")
											.input-group-btn
												button.btn.btn-success(type="submit") Get Forecast



		script(type='text/javascript" src="https://maps.googleapis.com/maps/api/js')
		script.
			var requestString = "http://api/openweathermap.org/data/2.5/box/find?q=Brooklyn"
