doctype html

html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/css/styles.css')
		link(href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
		base(href="/")
	body
		block content
